
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:"Inter", sans-serif;
  font-size: 16px;
}

ul {
  list-style-type: none;
}

h1{
  margin-bottom: 10px
}
.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 30px;
}

.navbar {
  background-color:#1F2957;
  color: #fff;
  height: 60px;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo {
  font-size: x-large;
  font-weight: bold;
}

.navbar a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.navbar a:hover {
  color: skyblue;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left: 20px;
}

header {
  background-color: #1F2957;
  color: #fff;
  min-height: 400px;
}

.header .container {
  height: 400px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.text {
  flex-basis: 60%;
}

.placeholder {
  width: 600px;
  height: 300px;
  background-color: grey;
  color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-button {
  margin: 15px;
  font-size: 16px;
  background-color: #3882F6;
  color: #fff;
  width: 80px;
  height: 45px;
  border: none;
  border-radius: 5px;
}

.one {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  margin: 10px;
}

.heading{
  display: flex;
  justify-content: center;
  margin: 30px;
  font-weight: large;
}
.boxes {
  width: 800px;
  display: flex;
  flex-basis: 200px;
  justify-content: space-around;
}

.image {
  width: 90%;
  height: 160px;
  border: solid;
  border-color: skyblue;
  border-width: 2px;
  border-radius: 5px;
  margin: 10px;
}

.box {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.two {
  background-color: #e5e7eb;
  height: 400px;
}

.two .container {
  width: 1000px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote {
  font-size: 36px;
  font-style: italic;
}
.quoter {
  padding: 10px;
  align-self: flex-end;
  font-size: 18px;
  font-weight: bold;
}

.three {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.three .container {
  background-color: #3882F6;
  color: #fff;
  height: 60%;
  width: 60%;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
}

.three-button {
  width: 130px;
  height: 40px;
  font-size: 18px;
  color: #fff;
  background: none;
  border: solid;
  border-color: #fff;
  border-radius: 5px;
}

.footer {
  background-color: #1F2957;
  color: #fff;
  height: 50px;
  display: flex;
  align-items: center;
}